# Deny web access to key files
<IfModule mod_authz_core.c>
  <FilesMatch "^\.(secretkey|keyring)$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "^\.(secretkey|keyring)$">
    Order allow,deny
    Deny from all
    Satisfy All
  </FilesMatch>
</IfModule>

# Optional hardening: prevent directory listing
Options -Indexes

